

/* GRID STYLES */

.container {
    display: grid;
    height: 100vh;
    grid-template-rows: 90px 40px 200px 277px 40px 94px;
    grid-template-columns: 155px 250px 400px 40px 88px 104px 97px 220px;
}

.header {
    grid-area: 1 / 1 / 2 / 9;
    background-color: rgb(233, 231, 238);
}

.name {
    grid-area: 1 / 2 / span 1 / span 1;
    background-color:  rgb(112, 115, 122);
    color: rgb(233, 231, 238);
}

.about {
    grid-area: 1 / 5 / 2 / 6;
    background-color: rgb(191, 197, 212);
    border-left: solid rgb(233, 231, 238) 1px;
}

.portfolio {
    grid-area: 1 / 6 / 2 / 7;
    background-color: rgb(191, 197, 212);
    border-left: solid  rgb(233, 231, 238) 1px;
}

.contact {
    grid-area: 1 / 7 / 2 / 8;
    background-color: rgb(191, 197, 212);
    border-left: solid  rgb(233, 231, 238) 1px;
}

.main-content {
    grid-area: 2 / 1 / 6 / 9;
    background-color:  rgb(190, 189, 194);

}

.bio {
    grid-area: 3 / 2 / 5 / 4;
    background-color: white;
}

.connect {
    grid-area: 3 / 5 / 4 / 8;
    background-color: white;
}

.icon {
    width: 60px;
}

.footer {
    grid-area: 6 / 1 / 7 / 9;
    background-color: rgb(112, 115, 122);
    border-top: solid teal 4px;
}

/* MAIN STYLES */

h1 {
    font-size: 4em;
}

h2 {
    font-size: 4em;
}